snippet init "init of xx style" <options>
\documentclass[a4paper,12pt]{article}
\usepackage[margin=0.5in]{geometry}

\begin{document}
\title{I am the title}
\maketitle


\section{first section}


\end{document}


endsnippet


snippet listing "listing description" <options>
\begin{lstlisting} 
$1
\end{lstlisting}
endsnippet
snippet subsec "subsec description" <options>
\subsection{$1}
endsnippet

